.content_container {
    width: calc(100% - 40px);
    /* 保证内容不溢出 */
    /* height: 1130px; */
    /* 由内容自动撑起 */
    padding: 40px 20px;
}


.content_container .details_of_network_content {
    /* margin: 40px 0; */
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* 防止内部details标签的margin塌陷问题 */
}

.content_container .details_of_network_content>summary {
    font-size: 16px;
    font-weight: bold;
    background: rgba(179, 236, 202, 0.73);
    color: black;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.content_container .details_of_network_content .network_chart_container {
    /* margin-top: 20px; */
    border-radius: 10px;
    /* background-color: #ddefc1; */
    position: relative;
}

.content_container .details_of_network_content .network_chart_container .loading_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    /* display: none; */
    /* height: 100px;  */
    background-color: #FAFFF2;
    /* 半透明背景 */
    z-index: 1000;
    /* 确保在最上层 */
}

.content_container .details_of_network_content .network_chart_container .loading_container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
}

.content_container .details_of_network_content {
    position: relative;
}

.content_container .details_of_network_content .network_content_navigation_container {
    position: absolute;
    display: flex;
    width: calc(100% - 40px);
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;

}

.content_container .details_of_network_content .network_content_navigation_container .selector_container {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    width: 420px;
    height: 60px;
    /* border: 1px solid #ccc; */
    background-color: rgba(179, 236, 202, 0.95);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 2000;
}

.content_container .details_of_network_content .network_content_navigation_container .selector_container .option {
    /* flex: 1; */
    /* height: 50px; */
    width: 120px;
    background: none;
    border: none;
    margin: 10px;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 2002;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.content_container .details_of_network_content .network_content_navigation_container .selector_container .option:hover {
    background-color: rgba(123, 231, 166, 0.73);
}

.content_container .details_of_network_content .network_content_navigation_container .selector_container .highlight_slider {
    position: absolute;
    top: 10px;
    height: 40px;
    width: 120px;
    background-color: #5ed88f;
    transition: left 0.3s ease-out;
    z-index: 2001;
    border-radius: 10px;
}

/* 默认高亮第一个选项 */
.content_container .details_of_network_content .network_content_navigation_container .selector_container .highlight_slider {
    left: 10px;
}

.content_container .details_of_network_content .network_content_navigation_container .select_homologous_id_from_group {
    z-index: 1050;
    padding: 0 20px;
    height: 50px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 10px; */
    background-color: rgba(179, 236, 202, 0.95);
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    position: relative;
}

.content_container .details_of_network_content .network_content_navigation_container .select_homologous_id_from_group label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;

}

.content_container .details_of_network_content .network_content_navigation_container .select_homologous_id_from_group .help_icon {
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #007BFF;
    /* 蓝色 */
    user-select: none;
    z-index: 2000;
}

.content_container .details_of_network_content .network_content_navigation_container .select_homologous_id_from_group .tooltip {
    display: block;
    /* 使元素始终处于文档流中，但初始透明 */
    opacity: 0;
    /* 开始时不可见 */
    visibility: hidden;
    /* 开始时不占空间 */
    background-color: #bdecb6;
    /* 浅绿色背景 */
    color: black;
    /* 文字颜色 */
    text-align: center;
    border-radius: 8px;
    /* 圆角 */
    padding: 5px 10px;
    /* 内边距 */
    position: absolute;
    /* 绝对定位，相对于最近的定位父元素 */
    top: 60px;
    z-index: 2000;
    /* 确保浮窗在其他元素上方 */
    width: 90%;
    /* 设置宽度 */

    margin-left: 20px;
    /* 左边距 */

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    /* 添加阴影效果 */

    font-size: 16px;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    /* 平滑过渡 */
}

.content_container .details_of_network_content .network_content_navigation_container .select_homologous_id_from_group .help_icon:hover+.tooltip {
    opacity: 1;
    /* 鼠标悬浮时变为可见 */
    visibility: visible;
    /* 鼠标悬浮时占空间 */
}

.content_container .details_of_network_content .network_content_navigation_container .select_homologous_id_from_group select {
    width: auto;
    min-width: 200px;
    height: auto;
    max-height: 50px;
    overflow-y: auto;
    margin-left: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    z-index: 2200;
}

.select2-container--default .select2-results__option {
    font-size: 18px;
    /* 下拉选项的字体大小 */
    z-index: 2200;

}

.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    font-size: 18px;
    /* 选择框内文本的字体大小 */
    z-index: 2200;

}


.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container {
    width: 290px;
    z-index: 2000;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    background-color: #FAFFF2;
}

.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container summary {
    font-size: 14px;
    font-weight: bold;
    background: #8bc2d0;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;

}

.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container {
    /* height: 100px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            border: 1px solid #ccc; */

    width: 100%;
    /* 由内框撑起高度 */
    /* height: 280px; */
    /* max-height: 100px; */

    background: linear-gradient(to right, #C0DDE4, #F6EDD3);
    border-radius: 10px;
    /* position: relative; */

    /* 防止margin塌陷 */
    overflow: hidden;

    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box {
    /* width: calc(100% - 40px); */
    /* 矩形框的宽度，减去间隔的两倍 */
    /* height: calc(100% - 40px); */
    /* 矩形框的高度，减去间隔的两倍 */
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    /* 矩形框的圆角大小 */
    /* position: absolute; */
    /* 绝对定位，相对于圆角框定位 */
    /* top: 20px; */
    /* 矩形框距离圆角框顶部的距离 */
    /* left: 20px; */
    /* 矩形框距离圆角框左侧的距离 */
    overflow-y: auto;
    /* 垂直方向出现滚动条 */
    overflow-x: auto;
    min-height: 0;
    max-height: 340px;

    /* 让出背景的渐变使其成为其渐变色的border */
    margin: 10px;
}

.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box .result_details {
    padding: 10px;
    text-align: left;
    /* 文本内容两端对齐 */
    font-size: 18px;
    /* color: #dce6d7; */
}

.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box .result_details .header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #bcdfec;
    border-bottom: 1px solid #b3cdd6;
}

.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box .result_details .header_container .header_text {
    font-size: 16px;
    font-weight: bold;
}

.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box .result_details .header_container .color_line {
    width: 30%;
    height: 3px;
    margin-left: 20px;
    background-color: #5ed88f;
}

.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box .result_details .header_container .color_node {

    width: 20px;
    height: 20px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: #b84592;
}

.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box .item_container {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box .item_container .item_title {
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
    background-color: #eae7e7;
    border-bottom: 1px solid #929191;
    padding: 5px;
    border-radius: 5px;
}

.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box .item_container .item_content {
    font-size: 16px;
}

.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box .item_container a,
.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box .table_container .table_content a {
    text-decoration: none;
    color: rgb(71, 71, 71);
    background:
        linear-gradient(to right, var(--color-gradient-start, rgba(100, 200, 200, 1)), var(--color-gradient-end, rgba(100, 200, 200, 1))),
        linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}


.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box .item_container a:hover,
.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box .table_container .table_content a:hover {
    background-size: 0 3px, 100% 3px;
    cursor: pointer;
}

.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box .table_container {
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box .table_container .table_header table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #bbe1bb;
    border-radius: 5px 5px 0 0;
    border-width: 0;
}

.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box .table_container .table_header table th {
    /* padding: 10px; */
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-width: 0;
}

.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box .table_container .table_content {
    height: auto;
    max-height: 300px;
    overflow-y: auto;
}

.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box .table_container .table_content table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-width: 0;
    /* border-radius: 0 0 5px 5px; */
}

.content_container .details_of_network_content .network_content_navigation_container .clicked_details_container .result_details_container .content_box .table_container .table_content table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border-width: 1px 0;

}

.content_container .details_of_network_content .hub_network_data_table {
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* 防止内部details标签的margin塌陷问题 */
}

.content_container .details_of_network_content .hub_network_data_table>summary {
    font-size: 16px;
    font-weight: bold;
    background: #8bc2d0;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.content_container .details_of_network_content .hub_network_data_table .table_footer_pagination_container .table_container {
    margin-top: 20px;
    width: 100%;
    overflow-x: auto;
}

.content_container .details_of_network_content .hub_network_data_table .table_footer_pagination_container .table_container table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    border-radius: 10px 10px 0 0;
    /* 设置表格的左上和右上圆角为10px */
    overflow: hidden;
    /* 保持圆角，隐藏溢出的子元素 */
    table-layout: auto;
    /* 允许列宽自适应内容宽度 */

}

.content_container .details_of_network_content .hub_network_data_table .table_footer_pagination_container .table_container table thead {
    background-color: #bbe1bb;
}

.content_container .details_of_network_content .hub_network_data_table .table_footer_pagination_container .table_container table th {
    text-align: center;
    /* 标题和单元格内容居中对齐 */
    font-size: 16px;
    /* 字号设置为18px */
    padding: 15px 30px;
    /* 设置单元格的上下padding为15px, 左右padding为30px */
    font-weight: bold;
    /* 标题字体加粗 */
    border: none;
    /* 去除所有边线 */
}

.content_container .details_of_network_content .hub_network_data_table .table_footer_pagination_container .table_container table td {
    text-align: center;
    /* 单元格内容居中对齐 */
    font-size: 16px;
    /* 字号设置为18px */
    padding: 20px 30px;
    /* 设置单元格的上下padding为10px, 左右padding为30px */
    border: none;
    /* 去除所有边线 */

}

.content_container .details_of_network_content .hub_network_data_table .table_footer_pagination_container .table_container table tbody tr:nth-child(even) {
    background-color: #e4f6e4;
    /* 为tbody中所有奇数行设置浅绿色背景 */
}

.content_container .details_of_network_content .hub_network_data_table .table_footer_pagination_container .table_container table tbody tr:hover {
    background-color: #c7e3ed;
    /* color: #525252; */
    /* 鼠标悬停时，背景颜色变为深蓝色，字体颜色变为白色 */
}

.content_container .details_of_network_content .hub_network_data_table .table_footer_pagination_container .footer_pagination_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 0 0 10px 10px;
}

.content_container .details_of_network_content .hub_network_data_table .table_footer_pagination_container .footer_pagination_container .footer_notes {
    font-size: 15px;
    margin-left: 10px;
}

.content_container .details_of_network_content .hub_network_data_table .table_footer_pagination_container .footer_pagination_container .pagination_container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.content_container .details_of_network_content .hub_network_data_table .table_footer_pagination_container .footer_pagination_container .download_button,
.content_container .details_of_network_content .hub_network_data_table .table_footer_pagination_container .table_container .copy_button,
.content_container .details_of_network_content .hub_network_data_table .table_footer_pagination_container .footer_pagination_container .pagination_container a {
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333;
    background: #f0f0f0;
    cursor: pointer;
    font-size: 14px;
}

.content_container .details_of_network_content .hub_network_data_table .table_footer_pagination_container .footer_pagination_container .download_button:hover,
.content_container .details_of_network_content .hub_network_data_table .table_footer_pagination_container .footer_pagination_container .pagination_container a:hover,
.content_container .details_of_network_content .hub_network_data_table .table_footer_pagination_container .footer_pagination_container .pagination_container .active {
    background: #8bc2d0;
    color: #fff;
}


/* Nodes表格的 adjacency 这一列数据过长，使用左对齐方式，并放置在一行之内*/
#hub_network_nodes_table_container table td:nth-child(7),
#hub_network_nodes_table_container table th:nth-child(7) {
    white-space: nowrap;
    /* 防止内容换行 */
    text-align: left;
    /* 设置文本左对齐 */
    min-width: max-content;
    /* 列宽至少与内容宽度相同 */
}

/* 为SNP表格中放置颜色点的div容器设置为水平竖直居中 */
#hub_network_nodes_table_container table tbody tr td:nth-child(6),
#hub_network_edges_table_container table tbody tr td:last-child {
    display: flex;
    justify-content: center;
    align-items: center;

}