.content_container .introduction_box,
.content_container .statistic_box,
.content_container .databases_box,
.content_container .news_box {
    width: calc(100% - 40px);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.content_container .introduction_box {
    /* 将背景色设置为从C0DDE4 向 F6EDD3 的 从左到右的渐变色*/
    background: linear-gradient(to right, #C0DDE4, #F6EDD3);
}

.content_container .statistic_box {
    background-color: #93c5ce;
}

.content_container .databases_box {
    background-color: rgb(76, 131, 112);
}

.content_container .news_box {
    background-color: rgb(225, 221, 191);
}

.content_container .introduction_box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.content_container .introduction_box .text_box {
    margin-right: 30px;
    /* background-color: skyblue; */
}

.content_container .introduction_box .text_box .introduction_title {
    font-size: 30px;
    font-weight: bold;
    line-height: 2;
}

.content_container .introduction_box .text_box .introduction_text {
    font-size: 20px;
    line-height: 1.5;
}

.content_container .introduction_box .text_box .citation_text {
    font-size: 20px;
    font-weight: bold;
}

.content_container .introduction_box .image_box img:nth-child(1) {
    margin-bottom: 20px;
}

.content_container .introduction_box .image_box img {
    width: 350px;
    height: 230px;
    border-radius: 20px;
    object-fit: cover;
}

.content_container .statistic_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
}

.content_container .statistic_box .title_box {
    width: 97%;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
}

.content_container .statistic_box .title_box h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}

.content_container .statistic_box .statistic_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;


}

.content_container .statistic_box .statistic_container .statistic_item {
    width: 620px;
    /* height: 300px; */
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content_container .statistic_box .statistic_container .statistic_item .statistic_text {
    /* width: 300px; */
    /* height: 300px; */
    /* background-color: skyblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 10px;
}

.content_container .statistic_box .statistic_container .statistic_item .statistic_text .statistic_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.content_container .statistic_box .statistic_container .statistic_item .statistic_text .statistic_title img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.content_container .statistic_box .statistic_container .statistic_item .statistic_text .statistic_title h1 {
    font-size: 20px;
    font-weight: bold;
}

/* .content_container .statistic_box .statistic_container .statistic_item .statistic_text h1 svg {
    font-size: 40px;
} */

.content_container .statistic_box .statistic_container .statistic_item .statistic_text ul {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 15px;
    list-style: disc;
}

.content_container .statistic_box .statistic_container .statistic_item .statistic_img img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

/* .content_container .databases_box {
    margin: 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

.content_container .databases_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
}

.content_container .databases_box .title_box {
    width: 97%;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
}

.content_container .databases_box .title_box h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}

.content_container .databases_box .resources_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.content_container .databases_box .database_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 25%;
    margin: 20px 15px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    transition: all 0.5s;
}

.content_container .databases_box .database_container img {
    /* 保持正方形的比例 */
    width: 260px;
    height: 260px;
    margin: 10px;
    border-radius: 20px;
    object-fit: cover;
    transition: all 0.5s;
}

.content_container .databases_box .database_container h1 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 2;
}

.content_container .databases_box .database_container:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    transform: scale(1.03);
    cursor: pointer;
}

.content_container .databases_box .database_container:hover img {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    transform: scale(1.06);
}

/* .content_container .news_box {
    height: 200px;
    display: flex;
    justify-content: space-evenly;

}

.content_container .news_box h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 40px;
} */

.content_container .news_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
}

.content_container .news_box .title_box {
    width: 97%;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
}

.content_container .news_box .title_box h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}

.content_container .news_box .news_container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    padding: 10px 0;
}

.content_container .news_box .news_container .date_container {
    margin-left: 50px;
}

.content_container .news_box .news_container .text_container {
    margin-left: 60px;
}

/* .content_container .news_box ul {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    margin-left: 50px;
    padding: 10px 0;
} */

/* .content_container .news_box ul li span {
    font-size: 18px;
    margin-left: 20px;
} */